.searchInput{
    padding: 7px; 
    border-radius: 5px;
    &:hover{
        border-color: black !important;
    }

    &:focus{
        border-color: black !important;
        box-shadow: none !important;
    }
}

.templateCard{
    box-shadow: 0 2px 5px rgba(0,0,0,.12);
    &:hover{
        box-shadow: 0 5px 10px rgba(0,0,0,.12);
    }
}

.listitem{
    margin: 12px;
    padding: 0px;
    color: #666666;
    cursor: pointer;

    &:hover{
        color: black;
    }
}

.smText{
    color: gray !important;
    cursor: pointer;

    &:hover{
        color: black !important;
    }
}