@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800;900&display=swap');

@mixin homeHeading {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-left: 0.05em;
    padding-right: 0.05em;
    position: relative;
    z-index: 1;
    font-size: 160px;
    padding: 0px;
    transition: background-image 8s ease;
    line-height: 160px;
    letter-spacing: 0px;
    font-family: 'Inter', sans-serif;
    color: black;
}

.homeHeading{
    &::before{
        color: black;
    }
}

.home1{ 
    @include homeHeading;
    animation: example 8s infinite;
    background-image: linear-gradient(90deg,#007CF0,#00DFD8);
}

@keyframes example {
    0%,
    16.667%,
    to {
      opacity: 1;
    }
    33.333%,
    83.333% {
      opacity: 0.2;
    }
  }


.home2{
    @include homeHeading;
    background-image: linear-gradient(90deg,#7928CA,#FF0080);
    animation: example1 8s infinite;
}

@keyframes example1 {
    0%,
    to {
      opacity: 0.2;
    }
    33.333%,
    50% {
      opacity: 1;
    }
    16.667%,
    66.667% {
      opacity: 0.2;
    }
  }

.home3{
    @include homeHeading;
    animation: example2 8s infinite;
    background-image: linear-gradient(90deg,#FF4D4D,#F9CB28)
}

@keyframes example2 {
    0%,
    50%,
    to {
      opacity: 0.2;
    }
    66.667%,
    83.333% {
      opacity: 1;
    }

}

@mixin button {
    font-weight: bold;
    margin: 12px;
    border-radius: 5px;
    height: 50px;
    width: 200px;
    font-size: 16px;

    &:hover{
        background-color: white;
        color: black;
        border: 1px solid black;
    }

    &:focus{
        background-color: white;
        color: black;
        border: 1px solid black;
        box-shadow: none;
    }
}

.button{
    background-color: black;
    color: white;
    border: 1px solid black;
    @include button
}

.button1{
    background-color: white;
    color: grey;
    border: 1px solid lightgrey;
    @include button
}