@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800;900&display=swap');

body{
    font-family: 'Inter', sans-serif !important;
}

@mixin button {
    font-weight: bold !important;
    margin: 12px !important;
    border-radius: 5px !important;
    text-align: center !important;
    padding: 0px !important;
    
    &:hover{
        background-color: white !important;
        color: black !important;
        border: 1px solid black !important;
    }

    &:focus{
        background-color: white;
        color: black;
        border: 1px solid black;
        box-shadow: none;
    }
}

.button{
    background-color: black !important;
    color: white !important;
    border: 1px solid black !important;
    @include button
}

.button1{
    background-color: white !important;
    color: grey !important;
    border: 1px solid lightgrey !important;
    @include button
}