.listitem{
    padding: 0px 15px;
    cursor: pointer;

    &:hover{
        article{
            color: black;
        }
    }
    article{
        color: #666666;
    }

    button{
        background-color: black;
        color: white;
        border-radius: 5px;
        height: 32px;
        border: 1px solid black;
        font-weight: bold;

        &:hover{
            background-color: white;
            color: black;
            border: 1px solid black;
        }

        &:focus{
            background-color: white;
            color: black;
            border: 1px solid black;
            box-shadow: none;
        }
    }
}

